DateTime.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ilcs.co.id/schemas/INTRA/INTRA/DateTime.xsd"
	 targetNamespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/DateTime.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="DateTime" type="DateTime_type"/>
	<xs:complexType name="DateTime_type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="DateType" type="xs:string"/>
				<xs:attribute name="Type" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>