MessageRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ilcs.co.id/schemas/INTRA/INTRA/MessageRequest.xsd"
	 xmlns:ns0="http://www.ilcs.co.id/schemas/INTRA/INTRA/DateTime.xsd"
	 xmlns:ns1="http://www.ilcs.co.id/schemas/INTRA/INTRA/MessageProperties.xsd"
	 xmlns:ns2="http://www.ilcs.co.id/schemas/INTRA/INTRA/GoodsDetails.xsd"
	 xmlns:ns3="http://www.ilcs.co.id/schemas/INTRA/INTRA/EquipmentDetails.xsd"
	 targetNamespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/MessageRequest.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/DateTime.xsd" schemaLocation="DateTime.xsd"/>
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/MessageProperties.xsd" schemaLocation="MessageProperties.xsd"/>
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/GoodsDetails.xsd" schemaLocation="GoodsDetails.xsd"/>
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/EquipmentDetails.xsd" schemaLocation="EquipmentDetails.xsd"/>
	<xs:element name="Message" type="Message_type"/>
	<xs:complexType name="Message_type">
		<xs:sequence>
			<xs:element ref="Header"/>
			<xs:element ref="MessageBody"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Header" type="Header_type"/>
	<xs:element name="MessageBody" type="MessageBody_type"/>
	<xs:complexType name="Header_type">
		<xs:sequence>
			<xs:element ref="SenderId"/>
			<xs:element ref="ReceiverId"/>
			<xs:element ref="RequestDateTimeStamp"/>
			<xs:element ref="RequestMessageVersion"/>
			<xs:element ref="TransactionType"/>
			<xs:element ref="TransactionVersion"/>
			<xs:element ref="DocumentIdentifier"/>
			<xs:element ref="TransactionStatus"/>
			<xs:element ref="TransactionSplitIndicator" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageBody_type">
		<xs:sequence>
			<xs:element ref="MessageProperties"/>
			<xs:element ref="MessageDetails"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MessageType">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="MessageVersion" type="xs:string"/>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DocumentIdentifier" type="xs:string"/>
	<xs:element name="DateTime" type="ns0:DateTime_type"/>
	<xs:element name="Parties" type="Parties_type"/>
	<xs:complexType name="Parties_type">
		<xs:sequence>
			<xs:element ref="PartnerInformation" minOccurs="2" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartnerInformation" type="PartnerInformation_type"/>
	<xs:complexType name="PartnerInformation_type">
		<xs:sequence>
			<xs:element ref="PartnerIdentifier"/>
			<xs:element ref="PartnerName" minOccurs="0" maxOccurs="2"/>
			<xs:element ref="ContactInformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="PartnerRole" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="PartnerIdentifier_type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Agency" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PartnerIdentifier" type="PartnerIdentifier_type"/>
	<xs:complexType name="PartnerName_type">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PartnerName" type="PartnerName_type"/>
	<xs:element name="ContactInformation" type="ContactInformation_type"/>
	<xs:complexType name="ContactInformation_type">
		<xs:sequence>
			<xs:element ref="ContactName"/>
			<xs:element ref="CommunicationValue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ContactName" type="ContactName_type"/>
	<xs:complexType name="ContactName_type">
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="CommunicationValue" type="CommunicationValue_type"/>
	<xs:complexType name="CommunicationValue_type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="CommunicationType" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MessageProperties" type="ns1:MessageProperties_type"/>
	<xs:element name="MessageDetails" type="MessageDetails_type"/>
	<xs:complexType name="MessageDetails_type">
		<xs:sequence>
			<xs:element ref="ns2:GoodsDetails" minOccurs="0" maxOccurs="999"/>
			<xs:element ref="ns3:EquipmentDetails" minOccurs="0" maxOccurs="999"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SenderId" type="xs:string"/>
	<xs:element name="ReceiverId" type="xs:string"/>
	<xs:element name="RequestDateTimeStamp" type="xs:string"/>
	<xs:element name="RequestMessageVersion" type="xs:string"/>
	<xs:element name="TransactionType" type="xs:string"/>
	<xs:element name="TransactionVersion" type="xs:string"/>
	<xs:element name="TransactionStatus" type="xs:string"/>
	<xs:element name="TransactionSplitIndicator" type="xs:string"/>
</xs:schema>