ShippingInstruction.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://www.ilcs.co.id/schemas/INTRA/INTRA/ShippingInstruction.xsd"
	 xmlns:ns0="http://www.ilcs.co.id/schemas/INTRA/INTRA/MessageConfirmation.xsd"
	 xmlns:ns1="http://www.ilcs.co.id/schemas/INTRA/INTRA/MessageRequest.xsd"
	 xmlns:ns2="http://www.ilcs.co.id/schemas/INTRA/INTRA/Party.xsd"
	 xmlns:ns3="http://www.ilcs.co.id/schemas/INTRA/INTRA/GoodsDetails.xsd"
	 xmlns:ns4="http://www.ilcs.co.id/schemas/INTRA/INTRA/MessageProperties.xsd"
	 xmlns:ns5="http://www.ilcs.co.id/schemas/INTRA/INTRA/Measurement.xsd"
	 xmlns:ns6="http://www.ilcs.co.id/schemas/INTRA/INTRA/Customs.xsd"
	 xmlns:ns7="http://www.ilcs.co.id/schemas/INTRA/INTRA/EquipmentDetails.xsd"
	 targetNamespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/ShippingInstruction.xsd"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/MessageConfirmation.xsd" schemaLocation="MessageConfirmation.xsd"/>
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/MessageRequest.xsd" schemaLocation="MessageRequest.xsd"/>
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/Party.xsd" schemaLocation="Party.xsd"/>
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/GoodsDetails.xsd" schemaLocation="GoodsDetails.xsd"/>
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/MessageProperties.xsd" schemaLocation="MessageProperties.xsd"/>
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/Measurement.xsd" schemaLocation="Measurement.xsd"/>
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/Customs.xsd" schemaLocation="Customs.xsd"/>
	<xs:import namespace="http://www.ilcs.co.id/schemas/INTRA/INTRA/EquipmentDetails.xsd" schemaLocation="EquipmentDetails.xsd"/>
	<xs:element name="Message" type="Message_type"/>
	<xs:complexType name="Message_type">
		<xs:sequence>
			<xs:element ref="Header"/>
			<xs:element ref="MessageBody"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Header" type="ns0:Header_type"/>
	<xs:element name="MessageBody" type="MessageBody_type"/>
	<xs:complexType name="MessageBody_type">
		<xs:sequence>
			<xs:element ref="MessageProperties"/>
			<xs:element ref="MessageDetails"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MessageProperties" type="MessageProperties_type"/>
	<xs:element name="MessageDetails" type="MessageDetails_type"/>
	<xs:complexType name="MessageProperties_type">
		<xs:sequence>
			<xs:element ref="ShipmentID"/>
			<xs:element ref="DateTime"/>
			<xs:element ref="ChargeCategory"/>
			<xs:element ref="ShipmentDeclaredValue" minOccurs="0"/>
			<xs:element ref="LetterOfCreditDetails" minOccurs="0"/>
			<xs:element ref="ExportLicenseDetails" minOccurs="0" maxOccurs="9"/>
			<xs:element ref="BlLocations" minOccurs="0"/>
			<xs:element ref="ReferenceInformation" maxOccurs="999"/>
			<xs:element ref="Instructions" minOccurs="0"/>
			<xs:element ref="ControlTotal" minOccurs="0"/>
			<xs:element ref="HaulageDetails"/>
			<xs:element ref="TransportationDetails"/>
			<xs:element ref="Parties"/>
			<xs:element ref="ShipmentIndicator" minOccurs="0"/>
			<xs:element ref="HeaderCustomsInformation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ShipmentID" type="ns0:ShipmentID_type"/>
	<xs:element name="DateTime" type="ns0:DateTime_type"/>
	<xs:element name="ChargeCategory" type="ns2:ChargeCategory_type"/>
	<xs:element name="ShipmentDeclaredValue" type="ShipmentDeclaredValue_type"/>
	<xs:element name="LetterOfCreditDetails" type="LetterOfCreditDetails_type"/>
	<xs:element name="ExportLicenseDetails" type="ns3:ExportLicense_type"/>
	<xs:element name="BlLocations">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Location"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReferenceInformation" type="ns4:ReferenceInformation_type"/>
	<xs:element name="Instructions" type="Instructions_type"/>
	<xs:element name="ControlTotal" type="ControlTotal_type"/>
	<xs:element name="HaulageDetails" type="ns0:HaulageDetails_type"/>
	<xs:element name="TransportationDetails" type="ns0:TransportationDetails_type"/>
	<xs:element name="Parties" type="ns0:Parties_type"/>
	<xs:element name="ShipmentIndicator" type="ShipmentIndicator_type"/>
	<xs:element name="HeaderCustomsInformation" type="ns6:HeaderCustomsInformation_type"/>
	<xs:element name="Location" type="ns0:Location_type"/>
	<xs:complexType name="Instructions_type">
		<xs:sequence>
			<xs:element ref="ns4:ShipmentComments" minOccurs="0" maxOccurs="99"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ControlTotal_type">
		<xs:sequence>
			<xs:element ref="NumberOfEquipment" minOccurs="0"/>
			<xs:element ref="NumberOfPackages" minOccurs="0"/>
			<xs:element ref="GrossWeight" minOccurs="0"/>
			<xs:element ref="GrossVolume" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NumberOfEquipment" type="xs:string"/>
	<xs:element name="NumberOfPackages" type="xs:string"/>
	<xs:element name="GrossWeight" type="ns5:GrossWeight_type"/>
	<xs:element name="GrossVolume" type="ns5:GrossVolume_type"/>
	<xs:complexType name="ShipmentDeclaredValue_type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="Currency" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="LetterOfCreditDetails_type">
		<xs:sequence>
			<xs:element ref="LetterOfCreditNumber"/>
			<xs:element ref="DateTime" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LetterOfCreditNumber" type="xs:string"/>
	<xs:complexType name="ShipmentIndicator_type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="IndicatorType" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="MessageDetails_type">
		<xs:sequence>
			<xs:element ref="EquipmentDetails" maxOccurs="999"/>
			<xs:element ref="GoodsDetails" maxOccurs="999"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EquipmentDetails" type="EquipmentDetails_type"/>
	<xs:element name="GoodsDetails" type="GoodsDetails_type"/>
	<xs:complexType name="EquipmentDetails_type">
		<xs:sequence>
			<xs:element ref="LineNumber"/>
			<xs:element ref="EquipmentIdentifier"/>
			<xs:element ref="EquipmentType"/>
			<xs:element ref="EquipmentGrossWeight" minOccurs="0"/>
			<xs:element ref="EquipmentTareWeight" minOccurs="0"/>
			<xs:element ref="EquipmentGrossVolume" minOccurs="0"/>
			<xs:element ref="EquipmentTemperature" minOccurs="0"/>
			<xs:element ref="EquipmentAirFlow" minOccurs="0"/>
			<xs:element ref="EquipmentSeal" minOccurs="0" maxOccurs="5"/>
			<xs:element ref="EquipmentComments" minOccurs="0" maxOccurs="9"/>
			<xs:element ref="EquipmentReferenceInformation" minOccurs="0" maxOccurs="9"/>
			<xs:element ref="EquipmentLocation" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GoodsDetails_type">
		<xs:sequence>
			<xs:element ref="LineNumber"/>
			<xs:element ref="PackageDetail"/>
			<xs:element ref="PackageDetailComments" maxOccurs="99"/>
			<xs:element ref="ProductId" minOccurs="0" maxOccurs="999"/>
			<xs:element ref="PackageDetailGrossVolume" minOccurs="0"/>
			<xs:element ref="PackageDetailGrossWeight" minOccurs="0"/>
			<xs:element ref="DetailsReferenceInformation" minOccurs="0" maxOccurs="999"/>
			<xs:element ref="PackageMarks" minOccurs="0" maxOccurs="999"/>
			<xs:element ref="SplitGoodsDetails" minOccurs="0" maxOccurs="999"/>
			<xs:element ref="HazardousGoods" minOccurs="0" maxOccurs="99"/>
			<xs:element ref="DetailsCustomsInformation" minOccurs="0"/>
			<xs:element ref="HouseParties" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="LineNumber" type="xs:string"/>
	<xs:element name="EquipmentIdentifier" type="EquipmentIdentifier_type"/>
	<xs:element name="EquipmentType" type="ns0:EquipmentType_type"/>
	<xs:element name="EquipmentGrossWeight" type="ns5:GrossWeight_type"/>
	<xs:element name="EquipmentTareWeight" type="ns5:TareWeight_type"/>
	<xs:element name="EquipmentGrossVolume" type="ns5:GrossVolume_type"/>
	<xs:element name="EquipmentTemperature" type="ns5:Temperature_type"/>
	<xs:element name="EquipmentAirFlow" type="ns5:AirFlow_type"/>
	<xs:element name="EquipmentSeal" type="EquipmentSeal_type"/>
	<xs:element name="EquipmentComments" type="ns0:Comments_type"/>
	<xs:element name="EquipmentReferenceInformation" type="ns4:ReferenceInformation_type"/>
	<xs:element name="EquipmentLocation" type="ns0:Location_type"/>
	<xs:complexType name="EquipmentSeal_type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="SealingParty" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="EquipmentIdentifier_type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="EquipmentSupplier" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PackageDetail" type="ns0:PackageDetail_type"/>
	<xs:element name="PackageDetailComments" type="ns0:Comments_type"/>
	<xs:element name="ProductId" type="ProductId_type"/>
	<xs:element name="PackageDetailGrossVolume" type="ns5:GrossVolume_type"/>
	<xs:element name="PackageDetailGrossWeight" type="ns5:GrossWeight_type"/>
	<xs:element name="DetailsReferenceInformation" type="ns4:ReferenceInformation_type"/>
	<xs:element name="PackageMarks" type="PackageMarks_type"/>
	<xs:element name="SplitGoodsDetails" type="SplitGoodsDetails_type"/>
	<xs:element name="HazardousGoods" type="ns0:HazardousGoods_type"/>
	<xs:element name="DetailsCustomsInformation" type="ns6:DetailsCustomsInformation_type"/>
	<xs:element name="HouseParties" type="ns0:Parties_type"/>
	<xs:complexType name="PackageMarks_type">
		<xs:sequence>
			<xs:element ref="Marks" maxOccurs="10"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Marks" type="xs:string"/>
	<xs:complexType name="SplitGoodsDetails_type">
		<xs:sequence>
			<xs:element ref="EquipmentIdentifier"/>
			<xs:element ref="SplitGoodsNumberOfPackages"/>
			<xs:element ref="SplitGoodsGrossVolume" minOccurs="0"/>
			<xs:element ref="SplitGoodsGrossWeight" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SplitGoodsNumberOfPackages" type="xs:string"/>
	<xs:element name="SplitGoodsGrossVolume" type="ns5:GrossVolume_type"/>
	<xs:element name="SplitGoodsGrossWeight" type="ns5:GrossWeight_type"/>
	<xs:complexType name="ProductId_type">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="ItemTypeIdCode" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>